.aditional-info{
    display: none;
}
.aditional-info-show{
    display: block;
}
.movie-card{
    padding: 10px;
    margin-bottom: 20px;
    width: 170px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.movie-card img{
    height: 150px;
    width:150px;
    margin-bottom: 20px; 
}
.ver{
    color: blue;
}
.ver :hover{
    text-decoration: underline ;
    cursor: pointer;
}