.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-columna {
    display: flex;
    flex-direction: column;
}

.main{
    margin-left: 6%;
    margin-right: 7%;
    margin-top: 4%;
}

.button{
    margin: 0px;
    position: relative;
    left: 90%;
    bottom: 25px;
    border: solid 1px var(--light-gray);
    height: 28px;
    border-radius: 4px;
}